* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}

/* Navbar Start */

#navbar {
    background: #022831;
}

#logo {
    font-size: 36px;
    font-weight: 550;
    color: whitesmoke;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}

#logo span {
    color: #b4d330;
}

.navbar-toggler span {
    color: #b4d330;
}

.navbar-nav {
    margin-left: 20px;
}

.nav-item .nav-link {
    font-size: 16px;
    font-weight: 550;
    color: white;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover {
    background: #b4d330;
    color: black;
}

#navbar form button {
    background: #b4d330;
    color: black;
    border: none;
    margin: 0;
    width: fit-content;
}

/* Navbar End */

/* Home Section Start */

.home {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(./images/background\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home .content {
    text-align: center;
    padding-top: 200px;
}

.home .content h5 {
    color: white;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}

.home .content h1 {
    color: white;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}

.changecontent::after {
    content: " ";
    color: #b4d330;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}

@keyframes changetext {
    0% {
        content: "France";
    }
    10% {
        content: "Spain";
    }
    20% {
        content: "United States";
    }
    30% {
        content: "China";
    }
    40% {
        content: "India";
    }
    50% {
        content: "Japan";
    }
    60% {
        content: "Italy";
    }
    70% {
        content: "Turkey";
    }
    80% {
        content: "Mexico";
    }
    90% {
        content: "Germany";
    }
    100% {
        content: "United kingdom";
    }
}

.home .content p {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}

.home .content a {
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

.home .content a:hover {
    background: #b4d330;
    color: black;
}

@media (max-width: 850px) {
    .home {
        background-position: 50%;
    }
}

@media (max-width: 450px) {
    .home .content h5 {
        font-size: 25px;
    }
    .home .content h1 {
        font-size: 38px;
    }
    .home .content p {
        font-size: 15px;
    }
}

/* Home Section End */

/* Section Book Start */

.book {
    background: whitesmoke;
    padding: 50px;
}

.main-text h1 {
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}

.main-text h1 span {
    color: #b4d330;
    background-color: #022831;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.book .card {
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}

.book .row {
    margin-top: 30px;
}

.book form input {
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}

.book form textarea {
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 200px;
}

.book .submit {
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background: #b4d330;
    color: black;
    margin-top: 10px;
    transition: 0.5s;
}

.book .submit:hover {
    width: 170px;
}

@media (max-width: 765px) {
    .book {
        padding: 0;
    }
    .main-text h1 {
        padding: 20px;
    }
}

/* Section Book End */

/* Section Packages Start */

#packages {
    background-color: whitesmoke;
    margin-bottom: -50px;
    padding-bottom: 50px;
}

.main-txt h1 {
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}

.main-txt h1 span {
    color: #b4d330;
    background-color: #022831;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.packages .card {
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #d8dfe9;
}

.packages .card img {
    border-radius: 5px;
}

.packages .card .card-body {
    background: transparent;
}

.packages .card .card-body h3 {
    font-size: 25px;
    font-weight: 600;
}

.packages .card .card-body p {
    font-size: 15px;
}

.checked {
    color: #b4d330;
}

.star i {
    font-size: 18px;
}

.packages .card .card-body h6 {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.packages .card .card-body a {
    padding: 10px;
    text-decoration: none;
    background: #b4d330;
    color: black;
    border-radius: 5px;
}

.btn {
    width: 100%;
    margin-top: 50px;
}

.packages button {
    justify-content: center;
}

/* Section Packages End */

/* Section Services Start */

.services {
    background: whitesmoke;
    margin-top: 50px;
    margin-bottom: -50px;
    padding-bottom: 50px;
}

.services .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-color: #022831;
    cursor: pointer;
    background-color: #d8dfe9;
}

.services .card i {
    font-size: 80px;
    text-align: center;
    color: #b4d330;
    margin-top: 20px;
}

.services .card .card-body h3 {
    font-weight: 600;
}

.services .card .card-body {
    text-align: center;
}

/* Section Services End */

/* Section gallery Start */

.gallery {
    margin-top: 50px;
    background-color: whitesmoke;
    margin-bottom: -50px;
    padding-bottom: 50px;
}

.gallery .card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

.gallery .card img {
    border-radius: 10px;
    transition: 0.5s;
}

.gallery .card img:hover {
    transform: scale(1.1);
}

.btn {
    width: 100%;
    margin-top: 50px;
}

.gallery button {
    justify-content: center;
    text-decoration: none;
}

.gallery a {
    text-decoration: none;
    color: black;
}

/* Section gallery End */

/* About Start */

.about {
    padding: 50px;
    margin-top: 50px;
    background: whitesmoke;
    padding-bottom: 150px;
}

.about .card {
    border-radius: 10px;
}

.about .card img {
    border-radius: 10px;
}

.about h2 {
    font-weight: 600;
    letter-spacing: 1px;
}

.about p {
    font-weight: 500;
}

#about-btn {
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #b4d330;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}

#about-btn:hover {
    width: 170px;
}

@media (max-width: 765px) {
    .about {
        padding: 0;
    }
}

/* About End */

/* Destinations Start */

#destinations {
    background-color: whitesmoke;
    padding-bottom: 100px;
}

.accordion-collapse a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.5s ease;
}

.accordion-collapse a:hover {
    text-decoration: none;
    color: #b4d330;
    padding: 7px;
    background-color: #022831;
    font-size: 22px;
    transition: 0.5s ease;
}

.row .list {
    padding-left: 5px;
}

/* Destinations End */

/* Footer Start */

#footer {
    width: 100%;
    text-align: center;
    background: #022831;
    color: white;
    margin-bottom: -18px;
    padding-bottom: 20px;
    font-size: 20px;
}

#footer h1 {
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}

#footer h1 span {
    color: #b4d330;
}

#footer p a {
    color: white;
}

.social-links i {
    padding: 10px;
    border-radius: 5px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.social-links i:hover {
    background: #b4d330;
}

/* Footer End */
